.cartcomt{
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    margin: 10px 0;

    .btn-close {
        width: "1px";
    }

   

  .wt{
      opacity: 0.6;
      font-size: x-small;
      
  }
  .cname{
      font-size: x-small;
  }
}